@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "TT Lakes", sans-serif, serif;
}

section.sidebar {
  width: 320px;
  box-shadow: 15px 0 30px rgba(0, 0, 0, 0.15);
  /* border: 1px solid black */
}

.header {
  padding: 16px;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF3E79;
}
.header__list-item:first-child {
  padding-right: 17px;
}
.header__list-item:nth-child(2) {
  padding-right: 72px;
}

.navigation {
  padding: 24px;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  position: relative;
}
.navigation__link {
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.navigation__link--active {
  color: #7E7E82;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.navigation__item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.navigation__item--active {
  display: flex;
  justify-content: start;
  align-items: center;
}
.navigation__item--active:before {
  content: "";
  position: absolute;
  left: -24px;
  display: inline-block;
  vertical-align: center;
  background: #41F6D7;
  width: 4px;
  height: 32px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer {
  padding: 16px;
}
.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 16px;
}
.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF3E79;
}
.footer__list-item {
  padding-right: 16px;
}
.footer__list-item:last-child {
  padding-right: 0;
}
.footer__contacts {
  padding-bottom: 40px;
}
.footer__mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1B1C21;
  padding-bottom: 12px;
}
.footer__phone-link {
  color: #1B1C21;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.footer__languages {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer__lang-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1B1C21;
  padding-right: 8px;
}
.footer__lang-item--active {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-right: 8px;
  color: #7E7E82;
}

button:hover {
  background: rgba(255, 62, 121, 0.7);
  transition: 0.5s;
}/*# sourceMappingURL=main.css.map */